.aboutContainer {
    display: flex;
    column-gap: 5vw;
    padding: 3vh 5vw;
}

.profilePic {
    min-width: 25%;
    max-width: 25%;
}

@media screen and (min-width: 800px) {
    .profilePic {
        min-width: 15%;
        max-width: 15%;
    }
}

.profile {
    width: 100%;
}