.studioPic {
    display: flex;
    justify-content: center;
    width: 86%;
    padding: 2vh 7vw;
}

.studio {
    max-width: 100%;
}

.studioDescription {
    padding: 1vh 7vw;
}

@media screen and (min-width: 800px) {
    .studioDescription {
        padding: 5vh 7vw;
    }

    .studioPic {
        width: 100%;
        padding: 2vh 2vw;
    }

    .homePicsContainer {
        display: flex;
        padding: 0 5vw;
    }
}