.footer {
    display: flex;
    flex-direction: column;
    align-items: left;
    row-gap: 2vh;
    padding: 3vh 7vw;
    margin-bottom: 3vh;
}

.footerItem {
    display: flex;
    align-items: center;
    column-gap: 2vw;
}

.contactValue {
    font-size: large;
}

a {
    color: inherit;
    text-decoration: none;
}